@charset "UTF-8";
body {
  color: #002d5f;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  border: none;
  background-color: orange;
  color: aliceblue;
  padding: 20px 80px;
  border-radius: 50px;
  font-size: 25px;
}

.btn:hover {
  background-color: #2b2b2b;
}

.inner {
  width: 80%;
  margin: auto;
}

.box {
  background: #002d5f;
  color: #fff;
}

.button {
  background: #002d5f;
  color: #fff;
  padding: 20px 40px;
  font-size: 20px;
  -webkit-box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.479);
          box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.479);
}

.button:hover {
  opacity: .6;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .btn {
    padding: 10px 40px;
    font-size: 15px;
    display: block;
  }
  .section-title {
    font-size: 25px;
    margin-bottom: 40px;
  }
}

.header {
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 10px;
  padding: 30px 40px 0 40px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  margin-left: auto;
}

.header-nav-item {
  margin-left: 40px;
}

#hanberger-menu {
  display: none;
  width: 30px;
  position: absolute;
  top: 5px;
  right: 20px;
  height: 100px;
}

#hanberger-menu span {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

#hanberger-menu span:nth-child(1) {
  top: 10px;
}

#hanberger-menu span:nth-child(2) {
  top: 20px;
}

#hanberger-menu span:nth-child(3) {
  top: 30px;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 20px;
  }
  .header-logo {
    width: 20%;
    margin-left: 20px;
    padding-top: 15px;
  }
  .header-nav-item {
    display: none;
    font-size: 20px;
    margin-bottom: 10px;
  }
  #hanberger-menu {
    display: block;
  }
}

.mv {
  z-index: 10;
  position: relative;
  height: 100vh;
  color: #fff;
}

.mv::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#203f53), to(rgba(131, 205, 255, 0.555)));
  background: linear-gradient(to right, #203f53, rgba(131, 205, 255, 0.555));
}

.mv-left {
  position: relative;
  width: 60%;
  background-image: url(../img/mv1.jpg);
  background-size: cover;
  background-position: center;
}

.mv-left-wrapper {
  position: absolute;
  z-index: 99;
  left: 19%;
  bottom: 4%;
  margin-bottom: 50px;
}

.mv-title {
  letter-spacing: 3px;
  font-size: 50px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.mv-subtitle {
  margin-bottom: 30px;
  font-size: 20px;
}

.mv-menu {
  margin-bottom: 50px;
}

.mv-menu-item {
  color: rgba(20, 5, 5, 0.959);
  padding: 5px 20px;
  background-color: #fff;
  margin-right: 5px;
}

.mv-menu-item:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
}

.mv-right {
  width: 40%;
}

.mv-right-top {
  height: 50%;
  background-image: url(../img/mv2.jpg);
  background-size: cover;
  background-position: bottom;
}

.mv-right-bottom {
  height: 50%;
  background-image: url(../img/mv3.jpg);
  background-size: cover;
  background-position: bottom;
}

@media screen and (max-width: 1024px) {
  .mv-title {
    font-size: 30px;
  }
  .mv-menu {
    width: 100%;
    padding: 0;
  }
  .mv-menu-item {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .mv-left {
    position: static;
    width: 100%;
    background-position: center;
  }
  .mv-menu {
    /* width: 100%; */
    display: inline-block;
  }
  .mv-menu-item {
    margin-bottom: 10px;
  }
  .mv-title {
    font-size: 20px;
  }
  .mv-subtitle {
    display: none;
  }
  .mv-right {
    display: none;
  }
}

.benefit {
  padding: 120px 0;
  text-align: center;
}

.benefit-sub-title {
  font-size: 23px;
  font-weight: bold;
}

.benefit-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.benefit-list-item {
  margin-right: 15px;
  padding: 15px 29px;
  width: 300px;
}

.benefit-list-item-left {
  position: relative;
}

.benefit-list-item-left::after {
  position: absolute;
  top: -6px;
  left: 50%;
  content: '';
  width: 2px;
  height: 55px;
  border-bottom: 100px solid #002d5f;
}

.benefit-list-item-center {
  position: relative;
}

.benefit-list-item-center::after {
  position: absolute;
  top: -6px;
  left: 50%;
  content: '';
  width: 2px;
  height: 60px;
  border-bottom: 60px solid #002d5f;
}

.benefit-list-item-right {
  position: relative;
}

.benefit-list-item-right::after {
  position: absolute;
  top: -6px;
  left: 50%;
  content: '';
  width: 2px;
  height: 60px;
  border-bottom: 95px solid #002d5f;
}

.benefit-list-item-connect {
  position: relative;
  border: 2px solid #002d5f;
  background-color: #fff;
  color: #002d5f;
  padding: 20px 40px;
  width: 300px;
  margin: auto;
  margin-bottom: 70px;
}

.benefit-list-item-connect::after {
  position: absolute;
  top: 42%;
  right: -160px;
  content: '';
  width: 160px;
  height: 5px;
  border-bottom: 2px solid #002d5f;
}

.benefit-list-item-connect::before {
  position: absolute;
  top: 42%;
  left: -175px;
  content: '';
  width: 175px;
  height: 5px;
  border-bottom: 2px solid #002d5f;
}

@media screen and (max-width: 767px) {
  .benefit {
    padding: 40px 0 !important;
  }
  .benefit-list {
    margin-bottom: 50px;
  }
  .benefit-list-item {
    margin-bottom: 20px;
  }
  .benefit-list-item-connect {
    width: 100%;
  }
  .benefit-list-item-connect::before, .benefit-list-item-connect::after {
    display: none;
  }
  .benefit-sub-title p {
    font-size: 15px !important;
  }
}

.feature {
  padding-top: 120px;
  background-color: #e3e9f1;
}

.feature-img {
  width: 30%;
  height: 100%;
  -webkit-box-shadow: 20px 20px #fff;
          box-shadow: 20px 20px #fff;
}

.feature-wrapper {
  margin-bottom: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #fff;
}

.feature-wrapper:nth-last-child(1) {
  border: none;
  padding-bottom: 60px;
  margin-bottom: 0;
}

.feature-contents {
  width: 60%;
}

.feature-contents-title {
  letter-spacing: 2px;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 25px;
  padding: 10px 30px;
}

.feature-contents-subtitle {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 23px;
  color: #002d5f;
}

.feature-contents-text {
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 1.7;
}

@media screen and (max-width: 767px) {
  .feature {
    padding-top: 40px;
  }
  .feature-contents {
    width: 100%;
  }
  .feature-wrapper {
    display: block;
  }
  .feature-img {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .feature-contents-title {
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 5px 15px;
  }
  .feature-contents-subtitle {
    text-align: center;
    margin-top: 30px;
  }
}

.philosophy {
  background: #002d5f;
  color: #fff;
  padding: 70px 0;
  position: relative;
}

.philosophy::after {
  position: absolute;
  content: '';
  height: 0;
  /*borderないの中身の高さ*/
  width: 0;
  /*borderないの中身の幅*/
  border-top: 30px solid #002d5f;
  /*三角形の色*/
  border-left: 30px solid #fff;
  /*隠すので背景色同色*/
  border-right: 30px solid #fff;
  /*隠すので背景色同色*/
  bottom: -30px;
  /*border-topの-高さ*/
  left: 50%;
  /*左端が左から50%の位置(真ん中ではない)*/
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /*真ん中に*/
}

.philosophy-title {
  text-align: center;
  line-height: 2.5;
  font-size: 20px;
}

em {
  font-size: 29px;
  color: orange;
  opacity: .8;
  position: relative;
}

em::after {
  position: absolute;
  content: '';
  width: 100%;
  border-bottom: 13px solid #efefef;
  opacity: .3;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .philosophy {
    padding: 40px 0;
  }
  .philosophy-title {
    font-size: 14px;
  }
  em {
    font-size: 20px;
  }
  em::after {
    display: none;
  }
}

.curriculum {
  padding: 150px 0 100px 0;
}

.curriculum-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.curriculum table {
  text-align: center;
}

.curriculum td {
  border: 3px solid #efefef;
}

.normal-contents {
  width: 49%;
}

.normal-contents th {
  border: 3px solid #efefef;
  background: #d7e8ff;
  width: 15%;
  padding: 7px 12px;
}

.normal-contents-title {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 30px;
}

.special-contents {
  width: 49%;
}

.special-contents th {
  border: 3px solid #efefef;
  background: #ffd298;
  width: 134px;
  padding: 7px 12px;
}

.special-contents-title {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 30px;
}

.special-subtext {
  padding-top: 30px;
  line-height: 2;
}

.section-title-subtext {
  padding-bottom: 100px;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .curriculum {
    padding: 70px 0 40px 0;
  }
  .curriculum .inner {
    width: 100%;
  }
  .curriculum-wrapper {
    text-align: center;
  }
  .curriculum th {
    display: block;
    width: 100%;
  }
  .curriculum td {
    display: block;
    width: 100%;
    padding: 7px 12px;
    margin-bottom: 20px;
  }
  .section-title-subtext {
    padding: 10px 40px 30px;
  }
  .normal-contents {
    width: 100%;
  }
  .normal-contents table {
    margin: auto;
    width: 85%;
  }
  .normal-contents-title {
    display: block;
    font-size: 20px;
    padding-top: 30px;
  }
  .special-contents-title {
    font-size: 20px;
    padding-top: 30px;
  }
  .special-contents table {
    margin: auto;
    width: 85%;
  }
  .special-subtext {
    padding: 30px 10px;
  }
  .special-contents {
    width: 100%;
  }
}

.example {
  padding-bottom: 100px;
}

.example-contents {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.example-contents-item {
  width: 49%;
}

.example-contents-item img {
  border: 2px solid #a79797;
}

.example-contents-item-text {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.example-title {
  text-align: center;
  border-top: 4px solid #002d5f;
  border-bottom: 4px solid #002d5f;
  padding: 15px 0;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #002d5f;
}

@media screen and (max-width: 767px) {
  .example-contents {
    display: block;
  }
  .example-contents-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .example {
    padding-bottom: 40px;
  }
}

.consultation {
  height: 400px;
  padding: 110px 0;
  background: url(../img/pic_action.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.consultation::after {
  position: absolute;
  content: '';
  background: rgba(7, 40, 61, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.consultation-title {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  opacity: .8;
  padding-bottom: 50px;
}

.consultation-contents {
  left: 50%;
  position: absolute;
  text-align: center;
  z-index: 2;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (max-width: 767px) {
  .consultation-title {
    font-size: 30px;
  }
  .consultation .btn {
    padding: 10px 30px;
  }
}

.price {
  padding: 0 0 120px;
}

.price strong {
  font-size: 45px;
}

.price .section-title {
  padding-top: 120px;
}

.price-contents {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
}

.price-contents-item {
  font-size: 25px;
  border: 1px solid #a797971a;
  width: 32%;
  text-align: center;
  -webkit-box-shadow: 5px 15px 10px #a7979786;
          box-shadow: 5px 15px 10px #a7979786;
  margin-bottom: 50px;
}

.price-contents-item-wrapper {
  padding: 35px 25px 0 25px;
}

.price-contents-item-title {
  background: #002d5f;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

.price small {
  font-size: medium;
}

.monthly {
  padding: 30px 0 50px;
  font-size: 55px;
  font-weight: bold;
  line-height: .7;
}

.term {
  font-weight: bold;
  padding: 0 0 25px 0;
}

.student {
  font-weight: bold;
  background: rgba(129, 128, 128, 0.075);
  padding: 15px;
  position: relative;
}

.student::after {
  position: absolute;
  content: '５万円割引適応';
  font-size: small;
  background: #EF2727;
  color: #fff;
  padding: 4px;
  top: 0;
  right: 0;
}

.society {
  font-weight: bold;
  background: rgba(129, 128, 128, 0.075);
  padding: 15px;
}

.color-variation,
strong {
  color: #A41A19;
}

.test {
  position: relative;
}

.test::after {
  position: absolute;
  content: '事前課題・テストあり';
  font-size: x-small;
  bottom: 30px;
  right: 0;
}

.price-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
  padding: 40px 30px;
  margin-bottom: 25px;
  -webkit-box-shadow: 10px 5px 10px #a7979786;
          box-shadow: 10px 5px 10px #a7979786;
}

.price-list li p {
  font-weight: bold;
  font-size: 14px;
}

.price-list li span {
  font-weight: bold;
  font-size: 25px;
  color: #152D5F;
  padding-right: 20px;
}

.price-list-under-text {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .price {
    padding: 60px 0;
  }
  .price .section-title {
    padding-top: 20px;
  }
  .price .monthly {
    padding: 15px;
  }
  .price-contents {
    display: block;
    padding: 0;
  }
  .price-contents-item {
    width: 100%;
  }
  .price-contents-item-wrapper {
    padding: 20px 10px;
  }
  .price-list {
    display: block;
  }
  .price-list-under-text {
    font-size: 10px;
  }
  .price-list li {
    width: 100%;
    padding: 10px;
    font-size: 12px;
  }
  .price-list li span {
    font-size: 10px;
  }
}

.interview {
  background-color: #e3e9f1;
  padding: 120px 0;
}

.interview-contents {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interview-contents-title {
  text-align: center;
}

.interview-contents-title strong {
  color: #fff;
  font-size: 16px;
}

.interview-contents-item {
  width: 24.5%;
  background: #152D5F;
  color: #fff;
  height: 480px;
}

.interview-contents-item:nth-child(2n) {
  margin-top: 30px;
}

.interview-contents-item-text {
  padding: 30px 15px 20px 15px;
}

.interview-contents-item-text p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.8;
}

.interview-contents-item .name {
  text-align: center;
  font-size: 27px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.interview-contents-item .name small {
  font-size: 18px;
}

.interview-button {
  display: block;
  margin: auto;
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .interview {
    padding: 60px 0;
  }
  .interview-contents {
    display: block;
  }
  .interview-contents-item {
    width: 100%;
    margin-bottom: 20px;
    height: 100%;
  }
  .interview-contents-item-text {
    padding: 10px;
  }
  .interview-contents-item:nth-child(2n) {
    margin-top: 0;
  }
  .interview-button {
    font-size: 15px;
    margin-top: 40px;
  }
}

.comparison {
  text-align: center;
  padding: 100px 0;
}

.comparison-text {
  text-align: left;
  font-size: 18px;
}

.comparison-general {
  padding: 10px 90px;
  width: 49.5%;
  background: #fff;
}

.comparison-general-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.comparison-zeroplus {
  padding: 10px 90px;
  background: #fff;
  width: 49.5%;
  margin-left: auto;
}

.comparison-zeroplus-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.comparison-title {
  background: #152D5F;
  color: #fff;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.comparison-top-title {
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  padding: 15px;
  width: 49%;
  background: #E0E0E0;
}

.comparison .zeroplus {
  margin-left: auto;
}

.comparison-wrapper {
  padding: 30px 60px;
  background: #F4F5F7;
}

.comparison-wrapper-title {
  margin-bottom: 10px;
}

.comparison-contents-item {
  margin-bottom: 10px;
}

.comparison-contents-title-text {
  background: #152d5f;
  border-radius: 30px;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .comparison {
    display: none;
  }
}

.question {
  padding: 100px 0;
}

details {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

details P {
  font-size: 20px;
  padding: 0 0 30px 50px;
}

summary {
  outline: none;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 40px 20px;
  border-radius: 8px;
  background: #F7F7F7;
  margin-bottom: 10px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  position: absolute;
  content: '>';
  right: 20px;
}

summary:hover {
  cursor: pointer;
}

summary span {
  font-size: 25px;
  padding-right: 20px;
  font-weight: bold;
}

details[open] {
  background: #F7F7F7;
  margin-bottom: 10px;
}

details[open] summary::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 767px) {
  .question {
    padding: 60px 0;
  }
  summary {
    font-size: 12px;
    padding: 10px;
  }
  summary::after {
    position: absolute;
    content: '>';
    right: 10px;
  }
  summary span {
    font-size: 10px;
    padding-right: 10px;
  }
  details p {
    font-size: 10px;
    padding: 0 30px;
  }
}

.flow {
  padding: 100px 0;
  color: #fff;
  background: #152D5F;
}

.flow-contents {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flow-contents-title {
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
  position: relative;
}

.flow-contents-title::after {
  position: absolute;
  content: '';
  border-right: 1px solid #fff;
  height: 40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -5px;
  right: 15px;
}

.flow-contents-title span {
  font-size: 30px;
  font-weight: bold;
  padding-right: 10px;
}

.flow-contents-item {
  width: 31%;
}

.flow-contents-item-text {
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  .flow {
    padding: 60px 0;
  }
  .flow-contents {
    display: block;
  }
  .flow-contents-item {
    width: 100%;
  }
  .flow-contents-title {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  .flow-contents-title span {
    font-size: 14px;
  }
  .flow-contents-title::after {
    display: none;
  }
  .flow-contents-item-text {
    padding: 0 0 40px;
  }
}

.contact {
  padding: 100px 0;
}

.consultation-reception {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.reception {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-title-warning {
  line-height: 2;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.section-title-warning span {
  color: #c41515;
}

.phone {
  width: 350px;
  text-align: center;
  margin-right: 20px;
  background: #dd5252;
}

.phone-contents {
  padding: 30px 50px;
  display: block;
}

.phone-text {
  color: #fff;
}

.phone strong {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 129px;
  width: 350px;
  background: #63d319;
  padding: 5px;
  font-size: 20px;
  line-height: 114px;
  position: relative;
}

.line-text {
  position: absolute;
  left: 50%;
  color: #fff;
}

.line img {
  width: 114px;
  height: 114px;
}

.contact table {
  border-collapse: separate;
  margin: auto;
  width: 100%;
}

.contact form {
  width: 100%;
}

.contact th {
  padding: 30px 20px 50px 20px;
  width: 270px;
  background: rgba(83, 167, 206, 0.425);
  text-align: left;
  position: relative;
}

.contact th::after {
  position: absolute;
  content: '必須';
  top: 25%;
  right: 5%;
  color: #fff;
  background: #EF2727;
  padding: 5px;
  font-size: 10px;
}

.contact td {
  vertical-align: middle;
  width: 70%;
  background: rgba(211, 211, 211, 0.24);
}

.contact input {
  margin-left: 20px;
  background: lightgrey;
  border: none;
  width: 500px;
  padding: 15px 10px;
  font-size: 18px;
}

.contact-btn {
  display: block;
  margin: auto;
  margin-top: 60px;
  padding: 20px 110px;
}

#meeting,
#zoom {
  width: 15px;
  display: inline-block;
}

.preferred-date {
  margin-top: 30px;
  margin-bottom: 5px;
}

.preferred-date-text {
  padding: 10px 20px 30px 20px;
}

@media screen and (max-width: 767px) {
  .consultation-reception {
    display: block;
    margin-bottom: 30px;
  }
  .line {
    width: 100%;
    height: 80px;
  }
  .line-text {
    line-height: 70px;
  }
  .line img {
    height: 70px;
    width: 70px;
  }
  .phone {
    width: 100%;
  }
  .phone-text {
    font-size: 14px;
  }
  .phone-contents {
    padding: 5px 20px;
    margin-bottom: 20px;
  }
  .phone-contents strong {
    font-size: 16px;
  }
  .contact th {
    display: block;
    padding: 5px 20px;
    width: 100%;
  }
  .contact th::after {
    border-radius: 8px;
    padding: 3px;
    font-size: 5px;
  }
  .contact td {
    width: 100%;
    display: block;
  }
  .contact tr {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  .contact input {
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    border: 2px solid;
  }
  .contact-btn {
    padding: 10px 50px;
    margin-top: 20px;
  }
  .preferred-date-text {
    padding: 5px 10px;
  }
  .meeting {
    border: 2px solid;
  }
}

.lesson-location {
  background: #152D5F;
  padding: 100px 0 80px;
}

.lesson-location-title {
  color: #fff;
}

.lesson-location iframe {
  width: 100%;
}

.lesson-location small {
  color: #fff;
  display: block;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .lesson-location {
    padding: 60px 0;
  }
}

iframe {
  height: 300px;
}

.blog {
  padding: 100px 0 80px;
}

.blog-btn {
  display: block;
  margin: auto;
  margin-top: 60px;
  padding: 20px 110px;
}

.blog-contents-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-contents-item {
  width: 32%;
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: 1px 1px 2px 2px #e0e0e09d;
          box-shadow: 1px 1px 2px 2px #e0e0e09d;
}

.blog-contents-item-text {
  color: #000;
  padding: 20px 10px;
  line-height: 2;
  font-weight: bold;
  letter-spacing: 1.3px;
}

@media screen and (max-width: 767px) {
  .blog-contents-wrapper {
    display: block;
  }
  .blog-contents-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .blog-btn {
    padding: 10px 30px;
    margin-top: 30px;
  }
  .blog-btn-text {
    font-size: 16px;
  }
}

.footer {
  background: rgba(83, 167, 206, 0.425);
  padding: 40px;
  display: block;
  text-align: center;
}

.footer-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.footer-menu-list {
  margin-right: 20px;
}

.window-bottom-btn {
  position: fixed;
  bottom: 10px;
  right: 5px;
  border-radius: 50%;
  background: orange;
  padding: 30px;
  text-align: center;
  display: inline-block;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 20px;
  }
  .footer-menu-list {
    margin-right: 10px;
    width: 100%;
  }
  .window-bottom-btn {
    padding: 10px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */